{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container mb-4">

    <h3>GESTOR DE USUARIOS</h3>
    <table class="table table-bordered table-hover ">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Username</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
            <tr>
                <td>{{ u ['idUsuario']}}</td>
                <td>{{ u ['nombre']}}</td>
                <td>{{ u ['apellido']}}</td>
                <td>{{ u ['username']}}</td>
                <td>
                    <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                        data-bs-target="#ModalEdit{{u['idUsuario']}}">Editar</button>

                    <!-- The Modal editar -->
                    <div class="modal" id="ModalEdit{{u['idUsuario']}}" tabindex="-1" role="dialog"
                        aria-labelledby="EditModalLabel {{u['idUsuario']}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="{{url_for('actualizar', id= u['idUsuario'])}}" method="POST">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="EditModalLabel {{u['idUsuario']}}">Editar Usuario:
                                            {{u['nombre']}} {{u['apellido']}}</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="nombre {{u['idUsuario']}}">Nombre</label>
                                            <input type="text" class="form-control" name="nombre"
                                                id="nombre{{u['idUsuario']}}" value="{{u['nombre']}}" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="apellido {{u['idUsuario']}}">apellido</label>
                                            <input type="text" class="form-control" name="apellido"
                                                id="apellido{{u['idUsuario']}}" value="{{u['apellido']}}" required>

                                        </div>

                                        <div class="form-group">
                                            <label for="correo {{u['idUsuario']}}">Correo electronico</label>
                                            <input type="email" class="form-control" name="correo"
                                                id="correo{{u['idUsuario']}}" value="{{u['username']}}" required>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-warning">Guardar Cambios</button>
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>



                    <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#ModalEliminar {{u['idUsuario']}}">Eliminar</button>

                    <!-- The Modal -->
                    <div class="modal" id="ModalEliminar{{u['idUsuario']}}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{u['idUsuario']}}" aria-hidden="true"> 
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modalLabel{{u['idUsuario']}}">confirmar eliminacion</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    SEGURO QUE QUIERES ELIMINAR EL USUARIO  <strong> {{u['nombre']}}  {{u['apellido']}}</strong>?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancelar</button>
                                    <a href="{{url_for('eliminar', id= u['idUsuario'])}}" class="btn btn-danger"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}