{% extends 'base.html' %}

{% block title %}Index {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
</head>
<body style="background-image: url('static/img/images.png'); background-repeat: no-repeat; background-size: cover;">
  
</body>


<div style="min-height: 90vh; padding: 20px;">
    
</div>

<footer style="background-color: #222; color: white; text-align: center; padding: 15px 0; width: 100%;">
    © 2025 | Desarrollado por David Valencia | Todos los derechos reservados
</footer>


</html>


{% endblock%}