{% extends 'base.html' %}

{% block title %}Index {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
</head>

<body>

    


     

    <div style="display: flex; justify-content: center; gap: 40px; flex-wrap: wrap; margin-top: 30px;">
     
        <div style="background-color: rgba(24, 169, 227,0.8); height: 430px; width:330px; border-radius: 3%; padding: 30px; text-align: center;">
            <h2>Agrega tu propiedad</h2><p>ID de sesión: {{ idUsuario }}</p>
            <p>*Necesitas iniciar sesion para poder agregar propiedades</p>
           
                <img class="card-img-top" src="{{url_for('static', filename='img/casa maincra.jpg')}}" alt="Card image"
                    style="width:80%; border-radius: 3%;">
                <div style="text-align: center;">
                    <p class="card-text">Queremos que nos complascas con tus propiedades</p>
                    <a href="agregar_propiedad" class="btn btn-primary" >VAMOS</a>
                </div>
            
        </div>

        <!-- Tarjeta 2 -->
        <div
            style="background-color: rgba(24, 169, 227,0.8); height: 430px; width:330px; border-radius: 3%; text-align: center; padding: 20px;">
            <h2 class="fw-bold mb-4">Busca tu inmueble</h2>
            <form class="row justify-content-center g-2">
                <div class="col-md-12 mb-2">
                    <input type="text" class="form-control" placeholder="Bogotá (Cundinamarca)">
                </div>
                <div class="col-md-12 mb-2">
                    <select class="form-select">
                        <option selected>Arriendo</option>
                        <option>Venta</option>
                    </select>
                </div>
                <div class="col-md-12 mb-2">
                    <select class="form-select">
                        <option selected>Apartamento</option>
                        <option>Casa</option>
                        <option>Lote</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary w-100">Buscar</button>
                </div>
            </form>
        </div>
    </div>


</body>


<div style="min-height: 90vh; padding: 20px;">

</div>



<footer style="background-color: #222; color: white; text-align: center; padding: 15px 0; width: 100%;">
    © 2025 | Desarrollado por Grupo SAAVP | Todos los derechos reservados
</footer>


</html>


{% endblock%}