<nav class="navbar navbar-expand-sm navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}" target="_parent">SAAVP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID"
            aria-controls="navbarID" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">x</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarID">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="vav-item">
                    <a class="nav-link" text-white href="">Servicios</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-white"  href="{{url_for('login')}}">Login</a>
                </li>
            </ul>

        </div>
    </div>
    </div>
</nav>