{% extends 'base.html' %}

{% block title %}registro {% endblock %}

{% block content %}
<!-- Registration 3 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 bsb-tpl-bg-platinum">
        <div class="d-flex flex-column justify-content-between h-100 p-3 p-md-4 p-xl-5">
          <h3 class="m-0">Bienvenido!</h3>
          <img class="img-fluid rounded mx-auto my-4" loading="lazy" src="{{url_for ('static', filename='img/Login.jpg')}}" width="245" height="80" alt="BootstrapBrain Logo">
          <p class="mb-0"><a href="#!" class="link-secondary text-decoration-none"></a></p>
        </div>
      </div>
      <div class="col-12 col-md-6 bsb-tpl-bg-lotion">
        <div class="p-3 p-md-4 p-xl-5">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="h3">Registro</h2>
                <h3 class="fs-6 fw-normal text-secondary m-0">Entre los datos para tu registro</h3>
              </div>
            </div>
          </div>
          <form action="{{url_for('registro')}}" method="POST">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="nombre" class="form-label">Nombre <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" required>
              </div>
              <div class="col-12">
                <label for="apellido" class="form-label">Apellido  <span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Last Name" required>
              </div>
              <div class="col-12">
                <label for="username" class="form-label">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control" name="username" id="username" placeholder="name@example.com" required>
              </div>
              <div class="col-12">
                <label for="password" class="form-label">Contraseña <span class="text-danger">*</span></label>
                <input type="password" class="form-control" name="password" id="password" value="" required>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required>
                  <label class="form-check-label text-secondary" for="iAgree">
                    Acepto los <a href="#!" class="link-primary text-decoration-none">Terminos y Condiciones </a>
                  </label>
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn bsb-btn-xl btn-primary" type="submit">Login</button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle">
              <p class="m-0 text-secondary text-end">Ya tienes una cuenta <a href="{{url_for('login')}}" class="link-primary text-decoration-none">Inicia Sesion</a></p>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}